.days-selector {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 6px;
    margin-bottom: 4px;
}

.day-btn {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--text-color);
    
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.day-btn:hover {
    background-color: #1f1f1f;
}

.day-btn.selected {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

.error-text {
    color: var(--error);
    font-size: 12px;
    margin-top: 4px;
    display: block;
    width: 100%;
    text-align: right;
}

.days-error {
    text-align: center;
    font-size: 12px;
    color: var(--error);
    margin-top: 4px;
}