.list-habits-screen {
    width: 100vw;
    height: 100vh;
    background-color: #1c1c2a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

.habit-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}
