body {
    overflow-y: auto;
}

.habit-ai-creator-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: sans-serif;
}

.habit-ai-creator-container header {
    display: flex;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;

    background-color: var(--background);

    margin-bottom: -20px;
    padding-left: 20px;

    font-size: 50px;
    width: 100%;
    z-index: 100;
}

.habit-ai-creator-container header h2 {
    font-size: 30px;
    margin-left: 10px;
    color: var(--text-color);
    width: 100%;
    text-align: left;
    padding: 0;
}

.habit-ai-creator-container header .back-button {

    cursor: pointer;
}

.habit-ai-creator-container header .delete-button {
    text-align: right;
    background: none;
    border: none;
    color: var(--error);
    font-size: 1.5rem;
    cursor: pointer;
}

.habit-ai-creator-container img:first-of-type {
    width: 40px;
    margin: 90px auto 20px auto;
}

.habit-ai-creator-container p:first-of-type {
    font-size: 18px;
    text-align: center;
}

.habit-ai-creator-container .submit-button {
    width: 80%;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.color-picker {
    margin-bottom: 70px;
}