.calendar-container {
    background: #1d1b2d;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    width: 100%;
    min-width: 80vw;
    max-width: 340px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 0.5rem;
    color: #aaa;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
}

.calendar-cell {
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.calendar-cell:hover {
    background: #2e2b44;
}

.calendar-cell.selected {
    background: var(--primary);
    color: black;
    font-weight: bold;
}

.calendar-cell.empty {
    pointer-events: none;
}

.calendar-cell.today {
    border: 2px solid var(--primary);
}