.input {
    background-color: var(--input-background);
    border: solid var(--input-border) 2px;
    color: var(--text-colort);
    overlay: none;
    border-radius: 10px;
    min-height: 50px;
    padding: 0 15px;
}

textarea.input {
    padding-top: 10px;
    resize: none;
}

.input-label {
    font-size: 14px;
    margin-bottom: 4px;
    position: relative;
}

.input-label.required::after {
    content: '*';
    margin-left: 4px;
    color: var(--error);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-error-text {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: var(--error);
}

.input-error-border {
    border: 2px solid var(--error) !important;
}