.form-group:has(.color-picker) {
    max-height: 10vh;
}

.form-group label {
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.color-picker {
    display: flex;
    gap: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color-circle {
    width: 12%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.color-circle.selected {
    border: solid 4px white;
}

.color-picker-label {
    text-align: center;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}